<div class="animate form login_form">
  <section class="login_content">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1>Login Form</h1>
      <!-- <div>
        <input type="text" class="form-control" placeholder="Username" required="" />
      </div> -->
      <div>
        <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Username" %>
      </div>
      <!-- <div>
        <input type="password"  required="" />
      </div> -->
      <div>
        <%= f.password_field :password, class:"form-control", placeholder:"Password" %>
      </div>
      <div class="d-flex justify-content-between">
        <!-- <a class="btn btn-default submit" href="index.html">Log in</a> -->
        <%= f.submit "Log in", class:"btn btn-info submit" %>
        <%= f.check_box :remember_me, datatoggle:"tooltip", title:"Remember-me?" %>
        <a class="reset_pass" href="#">Lost your password?</a>
      </div>

      <div class="clearfix"></div>

    <% end %>
  </section>
</div>
