<h1 class="pb-3">Provas</h1>
<table class="table table-striped rounded table-secondary">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">descrição</th>
      <th scope="col">assunto</th>
      <th scope="col">
        
      </th>
    </tr>
  </thead>
  <tbody>
    <% @tests.each do |test| %>
      <tr scope="row">
        <td><%= test.id %></td>
        <td><%= test.description %></td>
        <td><%= test.subject.description %></td>
        <td style="padding: 6px 0px 0px 0px;">
          <% if current_user.test_ids.include?(test.id) %>
            <%= link_to "Ver Prova", users_backoffice_test_user_test_path(test.id, current_user.user_tests.where(user_id: current_user.id, test_id: test.id).ids[0]), class:"btn btn-info btn-sm" %>
          <% else %>
            <%= link_to "Fazer Prova", new_users_backoffice_test_user_test_path(test.id), class:"btn btn-success btn-sm" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  <%= paginate @tests %>
</div>
