<div class="d-flex w-100 justify-content-between bg-secondary text-white pt-2 pb-1 px-1 mb-3 rounded">
  <div></div>
  <h2><%= @test.description %></h2>
  <% if @final > 7 %>
    <div class="btn btn-success">Nota: <%= @final %></div>
  <% else %>
    <div class="btn btn-danger">Nota: <%= @final %></div>
  <% end %>
</div>
<% @questions.each do |question| %>
  <div class="card mb-3">
    <h5 class="card-header">
      Questão
      <%= question.id %>
    </h5>
    <div class="card-body">
      <h5 class="card-title"><%= sanitize question.description %></h5>
      <hr>
      <ul style="list-style: none;">
        <% question.answers.each do |answer| %>
          <li>
            <%= radio_button_tag "form_questions[#{question.id}][]", answer.id, (@myCrazyHash.values.include?(answer.id)), disabled: true %>
            <span class="card-text"><%= sanitize answer.description %></span>
          </li>
        <% end %>
        <hr>
      </ul>
    </div>
  </div>
<% end %>
<%= link_to 'Retornar para Provas', users_backoffice_tests_path, class:"btn btn-warning" %>
