<h1>Seja Bem-vindo!</h1>
<p>Idioma: <%= locale %></p>
<p>Data: <%= l(Date.today) %></p>
<p><%=l Time.now, format: :personal%></p>

<%= render "menu" %>

<p>ambiente: <strong><%= ambienteRails %></strong></p>

<p>uma variável de instância <%= @nome %></p>