<p id="notice"><%= notice %></p>

<h2>Coins</h2>

<p><strong><%= cookies[:curso] %></strong> <- esse vem dos cookies...</p>

<table class="table table-warning table-hover">
  <thead>
    <tr>
      <th>Description</th>
      <th>Acronym</th>
      <th>Image</th>
      <th>Mining_Type</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.description %></td>
        <td><%= coin.acronym %></td>
        <td><%= image_tag coin.url_image, size: "25x25" %></td>
        <td><%= coin.mining_type_id %></td>
        <td><%= link_to 'Show', coin %></td>
        <td><%= link_to 'Edit', edit_coin_path(coin) %></td>
        <td><%= link_to 'Destroy', coin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Coin', new_coin_path, class:"btn btn-success me-2" %>
<%= link_to 'Welcome', welcome_index_path, class:"btn btn-warning" %>
