<p id="notice"><%= notice %></p>

<h2>Mining Types</h2>

<table class="table table-warning table-hover">
  <thead>
    <tr>
      <th>Description</th>
      <th>Acronym</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mining_types.each do |mining_type| %>
      <tr>
        <td><%= mining_type.description %></td>
        <td><%= mining_type.acronym %></td>
        <td><%= link_to 'Show', mining_type %></td>
        <td><%= link_to 'Edit', edit_mining_type_path(mining_type) %></td>
        <td><%= link_to 'Destroy', mining_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Mining Type', new_mining_type_path, class:"btn btn-success me-2" %>
<%= link_to 'Welcome', root_path, class:"btn btn-warning" %>
